@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&display=swap');

:root{
    --color-fondo:#f5f3ee;
    --color-distintivo:#d81a91;
    
    --color-menu-border-top:#d81a91;
    --color-menu-border-bottom:#ccc;
    --color-menu-hover-opcion-hover:#222;
    --color-menu-hover-opcion:#bbb;

    --color-opcion-menu:#888;
    --color-opcion-menu-activo:#444;
    --color-opcion-menu-hover:#222;
    --color-opcion-menu-hover-background:#eeeeee;

    --color-dato:#d81a91;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Playfair Display', serif;
}
body{
    font-size: 1.2rem;
    font-weight: 500;
    background: var(--color-fondo);
}   

.nav ul{
    width:90%;
    max-width: 50rem;
    margin: 1rem auto;
    display: flex;
    border-top:3px solid var(--color-menu-border-top);
    border-bottom: 1px solid var(--color-menu-border-bottom);
    flex-direction: row;
    justify-content:space-around;
}

.nav_title{
    font-weight: 700;
}

.nav li{
    width: 25%;
    text-align: center;
    display: inline-block;
    padding: 1rem 0;
    color:var(--color-li);
    position:relative;
    font-weight: 500;
    transition: all .22s;
}

.nav li:after{
    width: 100%;
    height: 2px;
    background: var(--color-distintivo);
    bottom: -1px;
    left: 0;
    content:'';
    display: block;
    position: absolute;
    opacity: 0;
}

.nav li.active{
    color:var(--color-opcion-menu-activo);
}

.nav li.active:after{
    opacity:1;
}

.nav li:hover{
    background: var(--color-opcion-menu-hover-background);
    color:var(--color-opcion-menu-hover);
    border-radius: 10px;
    cursor: pointer;
}

.nav ul:hover li{
    color: var(--color-menu-hover-opcion);
}

.nav ul:hover li:hover{
    color:var(--color-menu-hover-opcion-hover);
}

.container{
    width:90%;
    max-width: 50rem;
    margin: 1rem auto;
}
.title{
    font-size: 1.5rem;
    font-weight: 700;
}
.subtitle{
    font-size: 1.3rem;
    font-weight: 700;
}

.label{
    font-style: oblique;
}

.data{
    color:var(--color-dato);   
    margin-left: 10px;
    font-weight: 600;
}